#WriterPreview {
  display: flex;
  height: 100%;
  background-color: #f0ad4e;
}
#WriterPreviewEditor{
  height: 100%;
  width: 50%;
}
#WriterPreviewView {
  height: 100%;
  width: 50%;
  overflow: scroll;
  flex: 1;
  color: #333;
  text-align: center;
  line-height: 160px;
  padding: 0!important;
  background-color: #E9EEF3;
}
