#blogcontent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#blogcontenthead {
  height: 65px;
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
  width: 100%;
}

#blogcontenttitle {
  height: 40px;
  margin-top: 5px;
  font-size: 1.5em;
  line-height: 1.2em;
  /*border-bottom: 1px solid #000;*/
}

#blogcontenttitle h4 {

  /*text-align: left;*/
  /*width: 400px;*/
  /*border-bottom: 1px solid #000;*/
  /*text-decoration:  black underline;*/
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 5px;
}

#blogcontentdesc {
  text-align: left;
  margin-top: 15px;
  margin-left: 40px;
  /*background-color: green;*/
  height: 30px;
  font-size: 0.8em;
  line-height: 1em;
}

#blogcontentbody {
  margin: 100px 40px 20px 40px;
  /*background-color: green;*/
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
  word-wrap: break-word;
  flex: 1;
}
