#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
}

.article-title {
  font-size: 1.5em;
  line-height: 1.2em;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 45px;
}


.book-list {
  overflow: scroll;
  flex: 1;
  width: 100%;
  margin: 0;
  bottom: 10px;
  height: 100%;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
#sidebar ul li {
  display: flex;
  justify-content: space-between;
  height: 40px;
  font-size: 1em;
  line-height: 2.5em;
  text-align: left;
  margin-left: 10px;
  padding-right: 10px;
  align-items: center;
}

#sidebar ul li:hover {
  background-color: #E9EEF3;
  /*border-left: 1px solid red;*/
}
#sidebar ul li p {
  height: 100%;
  max-width: 60%;
  overflow: hidden;
  /*color: #333333;*/
  text-decoration: dotted;
  text-overflow: ellipsis;
  border-bottom: 1px dotted #000000;
}

#sidebar ul li a:hover {
  text-decoration: none;
  border-bottom: none;
}

#sidebar ul li .sidebar-number {
  max-width: 50px;
  min-width: 50px;
  height: 40px;
  flex: 1;
  overflow: hidden;
  margin-right: 10px;
  /*background-color: #ffffff;*/
  text-align: right;
}
/*#sidebar ul li span {*/
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  /*min-width: 10px;*/
  /*max-width: 40%;*/
  /*overflow: hidden;*/
/*}*/

.activeBook {
  color: crimson;
  /*border-left: 2px solid darkseagreen;*/
  /*background-color: aquamarine;*/
}
